.Rproj.user
.Rhistory
.RData
.Ruserdata
.icloud
proposal_presentation_files/figure-html/unnamed-chunk-5-1.png
.DS_Store
img/
img/cos_mds.png
img/cos.png
img/jac_mds.png
img/jac.png
img/lda.png
img/mca_bp_1.png
img/mca_bp_2.png
img/mca_bp_3.png
img/mca_bp_4.png
